  		<div class="footer-all-bottom">{{ section.settings.text }}</div>

      


 
   
{% schema %}

 {
    "name": "foter_top_text",
    "settings": [
      {
        "id": "text",
        "type": "richtext",
        "label": "images"
 }
      
    ]
}


{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
