 <div class="footer-all-items footer-all-items-mobile" style="width: 100%">
            <div class="footer-all-items-header">{{ section.settings.text-title }}</div>
    {% for block in section.blocks %}  
            {{ block.settings.linktext }}
    {% endfor %}      
     </div>


 
   
{% schema %}
{
  "name": "footer_section2",
	"max_blocks": 7,
  "settings": [
    {
      "id": "text-title",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Add Button",
      "settings": [
       
        {
          "id": "linktext",
          "type": "text",
          "label": "text OR link",
          "default": "Click here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Call to Action Blocks",
      "category": "CTA button",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
