<!-- /templates/page.liquid -->
<div class="grid">

  <div class="grid__item large--two-thirds push--large--one-sixth">

    <h1>{{ collection.title }}</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {% section 'collection-template-bc-sf-filter' %}
    </div>

  </div>

</div>
<style>

.rte {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

</style>