<div class="footer-all-all" style="overflow: hidden;">
    <div class="footer-all-img">
        {% section 'footer_images' %}   
    </div>
    <div class="footer-all">
        <div class="footer-all-items">
           {% section 'footer_1' %}         
        </div>
        <div class="footer-all-items footer-all-items-mobile" style="width: 30%">
            {% section 'footer_2' %}

        </div>
        <div class="footer-all-items footer-all-items-mobile" style="width: 30%;justify-content: flex-start">
           {% section 'footer_3' %}
        </div>
    </div>
</div>
{% section 'footer_top_text'%}


