<div class="main-image">
  
  
  <a href="/collections/all">
          <img src="{{ 'w.jpg' | asset_url }}" width="100%; " alt="">
          <div class="title-on-main-img"><div style="font-size: 25px; margin-bottom: 10px">Winter 2019</div>
            <div style="font-size: 60px; line-height: 65px;">NEW<br>ARRIVALS</div>
            <div> <a href="/collections/all"><button class="button-key">SHOW NOW</button></a></div>
          </div>
</div>






