	<div class="half-banner">
     
      <div class="left-half">
<img src="{{ '3.jpg' | asset_url }}" width="100%" alt="">
<div class="title-on-main-img">
<div style="font-size: 35px;">DRESSES</div>
 <a href="/collections/all"><button class="button-key">SHOW NOW</button></a> 
</div>
</div>
      <div class="left-half">
<img src="{{ '4.jpg' | asset_url }}" width="100%" alt="">
<div class="title-on-main-img">
<div style="font-size: 35px;">SOCKS</div>
<a href="/collections/all"><button class="button-key">SHOW NOW</button></a>
</div>
</div>
      
      
      <div class="right-half">
<img src="{{ '5.jpg' | asset_url }}" width="100%" alt="">
<div class="title-on-main-img">
<div style="font-size: 35px;">LEGGINGS</div>
 <a href="/collections/all"><button class="button-key">SHOW NOW</button></a> 
</div>
</div>
      <div class="right-half">
<img src="{{ '6.jpg' | asset_url }}" width="100%" alt="">
<div class="title-on-main-img">
<div style="font-size: 35px;">SWEATSHIRTS</div>
 <a href="/collections/all"><button class="button-key">SHOW NOW</button></a> 
</div>
</div>
      
</div>
